h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h1:hover .header-link:before,
h2:hover .header-link:before,
h3:hover .header-link:before,
h4:hover .header-link:before,
h5:hover .header-link:before,
h6:hover .header-link:before {
    content: "\00B6";/* pilcrow */
    color: #888;
    font-size: smaller;
}

/* .header-link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;
  top: 0;
  left: -0.7em;
  display: block;
  padding-right: 1em;
} */

.sidenav {
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 50px;
  bottom: 50px;
  color:#444;
  text-decoration: none;
  font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size:1.2em;
  line-height:1.5em;
  background: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px 0;
}
.sub {
  font-size: .8em;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  display: inline-block;
  text-decoration: none;
}
